
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Font Awesome
@import "node_modules/font-awesome/scss/font-awesome.scss";

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

#top_header{ padding: 20px 0;position: absolute;top: 0;left: 0;right: 0;z-index: 10;}

h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat',sans-serif;

  color: #FFF;
  word-break: break-word;
}
h1{ margin-top: 20px;text-transform: uppercase;font-weight: 800; color: #fc0;}
h3{ }

p{color: #fff;}
.header-section-space-form-1{ padding: 140px 0 80px 0; }
.site_logo a img{width: 100%;max-width: 450px;}

.parallax { background-attachment: fixed; }

.bgimage-property { background-position: center; background-repeat: no-repeat; background-size: cover; }
.header-form-bgimage-1 { background-image: url(/images/water-damage-south-florida.jpg); position: relative;}
.header-form-bgimage-1 .overlay{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.6);
  display: block;
  z-index: 0;
}

.call-us{
  color: #fc0;display: inline-block;padding-left: 40px;position: relative;text-align: left;
  line-height: 12px;height: 90px; margin-top: 30px;
}
.call-us i{position: absolute;left: 0;top: 0;font-size: 45px}
.call-us span{font-size: 2.1rem;text-transform: uppercase;}
.call-us h2{margin: 0;color: #fc0;}


.call-header{ font-size: 30px; color: #fff; line-height: 30px;}


.gallery_container{margin: 0 -5px;}
.gallery_restoration{
  padding:0 0 0 0;
  margin:0 0 20px 0;
  list-style: none;
}
.gallery_restoration .imgWrapper{border: solid 3px rgba(255, 255, 255, 0.3);}
#bsPhotoGalleryModal .pText{color: #222;}
.gallery_restoration li{margin-bottom:10px;}
.gallery_restoration li .text { color:#666; font-size:11px; margin-bottom:10px; padding:12px;  background:#fff; display: none;}
.gallery_restoration:after{clear: both; content:'';display: table;}
.gallery_restoration > [class*="col-lg-"],
.gallery_restoration > [class*="col-md-"],
.gallery_restoration > [class*="col-sm-"],
.gallery_restoration > [class*="col-xs-"]{
  padding-right: 5px;
  padding-left: 5px;
}
.social {
  text-align: center;
  font-size: 2.5em;
  color: #555;
  overflow: hidden;
  min-height: 70px;
}
.social i {
  margin: .1em;
  cursor: pointer;
  transition: color 300ms ease, margin-top 300ms ease;
  transform: translateZ(0);
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #FFF;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 2.5rem;
}
.social .fa {
  border-radius: 50%;
}
.social .fa-google-plus, .social .fa-google-plus-square {
  background-color: #CF3D2E;
}
.social .fa-facebook, .social .fa-facebook-square {
  background-color: #3C599F;
}
.social .fa-twitter, .social .fa-twitter-square {
  background-color: #32CCFE;
}
.social .fa:hover, .social .fa:active {
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
  transform: scale(1.1) rotate(360deg);
  color: #FFF;
  -webkit-box-shadow: 1px 1px 3px #333;
  -moz-box-shadow: 1px 1px 3px #333;
  box-shadow: 1px 1px 3px #333;
}
.hero-form { width: 100%; max-width: 600px; background-color: #fff; box-shadow: 0 0 30px rgba(0,0,0,.15); color: #314555; margin-top: 20px;}
.hero-form-header { background-color: #009cde; padding: 20px; }
.hero-form-wrapper { color: #aaa; padding: 20px; }
.form-control {
  height: 40px;
  padding: 8px 12px;
  line-height: 20px;
  background-color: transparent;
  border: 2px solid #ddd;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all ease-in-out 150ms;
  -ms-transition: all ease-in-out 150ms;
  -o-transition: all ease-in-out 150ms;
  transition: all ease-in-out 150ms;
}
.form-group-lg .input-lg, .form-group-lg .form-control, .form-group-lg .form-control-static, .input-lg { height: 46px; padding: 11px 14px; font-size: 14px; line-height: 20px; border-radius: 3px; }
.field { display: block; position: relative; }
.field .fa { position: absolute; right: 12px; top: 15px; color: #aaa; }
.mt-0 { margin-top: 0 !important; }

.mb-0 { margin-bottom: 0 !important; }
.mb-10 { margin-bottom: 10px !important; }
.mb-15 { margin-bottom: 15px !important; }
.mb-20 { margin-bottom: 20px !important; }

.btn { height: 40px; padding: 8px 20px; border: 2px solid transparent; font-size: 14px; line-height: 20px; border-radius: 3px; text-transform: uppercase; letter-spacing: 1px; overflow: hidden; font-weight: bold; background-color: #88c724; color: #fff;}
.btn-group-lg > .btn, .btn-lg { height: 70px; padding: 11px 30px; font-size: 17px; line-height: 20px; border-radius: 3px; }
.btn.btn-o { border-color: #88c724; }
.btn.btn-link, .btn.btn-o { color: #88c724; background-color: transparent; }
.btn:hover, .btn.hover, .btn:focus, .btn.focus, .btn:active, .btn.active { color: #fff; background-color: #78A931; border-color: #78A931; }
.btn-default { color: #333 !important; background-color: #fff !important; border-color: #ccc !important; }
.btn-default:hover { color: #333 !important; background-color: #e6e6e6 !important; border-color: #adadad !important; }

.company_checklist{margin: 0 0 20px 0;padding: 0;list-style: none;}
.company_checklist li{ color: #009cde; text-shadow: 1px 1px 1px rgba(0,0,0,.25); font-size: 25px; font-weight: bold; display: block; float: left; width: 100%; margin-bottom: 5px;}

.company_checklist li:before{ content: "\f046"; display: inline-block; font: normal normal normal 14px/1 FontAwesome; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; margin-right: 5px;font-size: 25px; }
.company_checklist:after{clear: both;display: table;content: '';}
.color-green { color: #88c724 !important; }
.color-yellow { color: #fc0 !important; }
.color-red { color: #f00 !important; }
.color-white { color: #fff !important; }
.color-blue { color: #009cde !important; }

.testimonial_div{margin-top: 20px;}
.testimonial_div .bx-wrapper{background-color: transparent;border: none;box-shadow: none;}

.testimonial_div #bx-pager{float: right;}
.testimonial_div #bx-pager ul{list-style: none;margin: 5px 0;padding: 0;}
.testimonial_div #bx-pager ul:after{clear: both;content: '';display: table;}
.testimonial_div #bx-pager ul li{float: left;color: #fff;}
.testimonial_div #bx-pager ul li a{margin: 0 3px;text-indent: -9999px;overflow: hidden;height: 3px;width: 15px;background-color: #fff;position: relative;text-transform: capitalize;display: inline-block;}
.testimonial_div #bx-pager ul li a.active,
.testimonial_div #bx-pager ul li a:hover{background-color: #fc0;}

.testimonial_div .testimonial li{color: #fff;}
.testimonial_div .testimonial li .words{color: #fff;font-style: italic;}
.testimonial_div .testimonial li .person{position: relative;margin: 10px 0;min-height: 70px;padding-left: 70px;}
.testimonial_div .testimonial li .person .img{left: 0;width: 60px;height: 60px;border-radius: 50%;overflow: hidden;display: block;position: absolute;}
.testimonial_div .testimonial li .person .img img{min-height: 60px;}

.call-number{text-align: right;}

.float-center { float: none !important; margin-left: auto !important; margin-right: auto !important; }

.gallery_restoration a{overflow: hidden;display: inline-block;width: 80px;height: 80px;margin: 5px 5px 5px 0;border: solid 3px rgba(255, 255, 255, 0.3)}
.gallery_restoration a img{width: 100%;min-height: 80px;}

.footer{color: #fff;z-index: 1;text-align: center;position: absolute;bottom: 0;margin: 0 auto;left: 0;right: 0;font-size: 1.1rem;padding: 15px 0;}
@media (max-width: 767px) {
  .site_logo{text-align: center;}
  .h1, h1 { font-size: 25px; }
  .h3, h3 { font-size: 19px; }
  .company_checklist li,
  .company_checklist li:before{ font-size: 19px; }

  .header-section-space-form-1 { padding: 200px 0 80px 0; }
  .call-number{text-align: center;}

}

@media (min-width: 768px) and (max-width: 992px) {
  .site_logo{text-align: center;}
  .header-section-space-form-1 { padding: 280px 0 80px 0; }
  .call-number { text-align: center; }
}